/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


.space-out{
  letter-spacing:20px;
}

.jumbotron{
  min-width:180px;
}

a:hover{
  text-decoration:none;
}
a:visited{
  text-decoration:none;
}
html{
    height: 100%;
    overflow: hidden;
}



body {
    padding-top: 150px;
    background-image:url(https://image.freepik.com/free-vector/small-green-squares-background_1113-14.jpg);
    background-size: cover;
    height: 100%;
    overflow: scroll;

}


/*body {*/
    /*padding-top:150px;*/
      /*!*background-size: cover;*!*/
    /*background-attachment:fixed;*/
    /*margin: 0;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*background-image:url(https://static.pexels.com/photos/211122/pexels-photo-211122.jpeg);*/
  /*background-size:2000px, cover;*/
  /*overflow:scroll;*/
    /*overflow-x: hidden;*/

/*}*/

main
{
	display : -webkit-box;
	display : -ms-flexbox;
	display : flex;
	-webkit-box-orient : horizontal;
	-webkit-box-direction : normal;
	    -ms-flex-flow : row wrap;
	        flex-flow : row wrap;
}
.min
{
	min-height : 150px;
	min-width : 150px;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
  padding:30px;
  
	
}


div.innersection {
  margin: 10px;
  /*background-color: white;*/
  /*box-shadow: 2px 3px 3px 2px rgba(3, 46, 92, 0.2);*/
  /*border-color: lightgrey;*/
  /*border-width: 1px;*/
  /*border-style: solid;*/
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  
}

div.topinnersection {

  background-color: white;
  -webkit-box-shadow: 2px 3px 3px 2px rgba(3, 46, 92, 0.2);
          box-shadow: 2px 3px 3px 2px rgba(3, 46, 92, 0.2);
  border-color: lightgrey;
  border-width: 1px;
  border-style: solid;
  padding-left: 20px;
  padding-right: 20px;
  
}

.max1{
    padding-left: 40px !important;
    padding-right: 40px !important;
    
}

div.innersection:hover {
  /*box-shadow: 2px 3px 3px 2px rgba(3, 46, 92, 0.7);*/
  /*border-color: grey;*/
  font-size-adjust: 1.2;
}

#block1
{
	
	-ms-flex-preferred-size : 60%;
	
	    flex-basis : 60%;
}

#block2
{
	
	-ms-flex-preferred-size : 40%;
	
	    flex-basis : 40%;
}

#block3
{
	
	-ms-flex-preferred-size : 33.33%;
	
	    flex-basis : 33.33%;
	font-size: 50px;
}

#block4
{
	
	-ms-flex-preferred-size : 33.33%;
	
	    flex-basis : 33.33%;
	font-size: 50px;
}

#block5
{
	
	-ms-flex-preferred-size : 33.33%;
	
	    flex-basis : 33.33%;
	font-size: 50px;
}

@media (max-width : 800px)
{
	#block1{
		-ms-flex-preferred-size : 100%;
		    flex-basis : 100%;
	}
	#block2, #block3, #block4, #block5{
		-ms-flex-preferred-size : 50%;
		    flex-basis : 50%;
	}
	#block3, #block4, #block5{
		font-size : 40px;
	}
}

@media (max-width : 600px)
{
    .max1{
        padding-left: 20px !important;
        padding-right: 20px !important;
    
    
    }
	#block1,#block2,#block3,#block4,#block5
	{
		-ms-flex-preferred-size : 100%;
		    flex-basis : 100%;
	}
	#block3, #block4, #block5{
		font-size: 60px;
	}
}

