<main>

  <section class="min" id="block1">

    <div class="topinnersection innersection min max1">
      <p>
      <h1 class="text-center"><b>It is a work in progress, my dudes!</b></h1></p>
    </div>

  </section>

  <section class="min" id="block2">

    <div class="topinnersection innersection min" style="max-width:300px">
      <p>
        <lead>I am actively working on the construction of the site. I have some of the ground work down and will
          move on to adding more soon.
        </lead>
        </br>
        </br>
        </br>
        <b>Please feel free to access the resources below.</b>
      </p>

    </div>
  </section>


  <section class="min" id="block3">

    <div class="iconsection min">
      <a href="jnnapoli_resume.pdf" target="_blank"> <i class="fas fa-file-alt fa-5x" title="My Resume"></i></a>
    </div>
  </section>

  <section class="min" id="block4">

    <div class="iconsection min">
      <a target="_blank" href="https://www.github.com/jnnapoli" title="My GitHub"><i class="fab fa-github fa-5x"></i></a>
    </div>

  </section>

  <section class="min" id="block5">

    <div class="iconsection min">
      <a href="mailto:joey@jnnapoli.com"><i class="fas fa-envelope fa-5x" title="Contact Me"></i></a>
    </div>

  </section>


</main>