<!doctype html>
<html>
<head>
  <title>Joey Napoli</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.ico' %>


  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

</head>

<body style="font-family:'Source Sans Pro'">

<!--navigation-->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid navbar-res-width">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><b>Joey Napoli</b></a>

      <!--hamburger button navigation-->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>


    <!-- these are the navigation links wrapped in a collapsible div-->
    <div class="collapse navbar-collapse" id="mynavbar">

      <!--the right hand navigation part-->
      <ul class="nav navbar-nav navbar-right">

        <li>
          <a href="jnnapoli_resume.pdf" target="_blank" title="My Resume">resume</a>
        </li>

        <li>
          <a target="_blank" href="https://www.github.com/jnnapoli" title="My GitHub">github</a>
        </li>

        <li>
          <a href="mailto:joey@jnnapoli.com" title="Contact Me">contact</a>
        </li>

      </ul>

    </div>
  </div>
</nav>

<!-- main content -->
<div class="container">
  <div class="container-fluid">


    <!--This is where I will yield so actual routed pages load-->


    <!-- actual main boxes -->
    <main>

      <section class="min" id="block1">

        <div class="topinnersection innersection min max1">
          <p>
          <h1 class="text-center"><b>It is a work in progress, my dudes!</b></h1></p>
        </div>

      </section>

      <section class="min" id="block2">

        <div class="topinnersection innersection min" style="max-width:300px">
          <p>
            <lead>I am actively working on the construction of the site. I have some of the ground work down and will
              move on to adding more soon.
            </lead>
            </br>
            </br>
            </br>
            <b>Please feel free to access the resources below.</b>
          </p>

        </div>
      </section>


      <section class="min" id="block3">

        <div class="iconsection min">
          <a href="jnnapoli_resume.pdf" target="_blank"> <i class="fas fa-file-alt fa-5x" title="My Resume"></i></a>
        </div>
      </section>

      <section class="min" id="block4">

        <div class="iconsection min">
          <a target="_blank" href="https://www.github.com/jnnapoli" title="My GitHub"><i class="fab fa-github fa-5x"></i></a>
        </div>

      </section>

      <section class="min" id="block5">

        <div class="iconsection min">
          <a href="mailto:joey@jnnapoli.com"><i class="fas fa-envelope fa-5x" title="Contact Me"></i></a>
        </div>

      </section>


    </main>
  </div>
</div>
<!-- actual main boxes end -->
<!-- jquery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!-- latest compiled javascript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
