<!DOCTYPE html><HTML>
   <HEAD>
      <META name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
       <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

      <!--<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">-->
      <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900italic' rel='stylesheet' type='text/css'>
   </HEAD>
   <BODY>
      <NAV class="navbar navbar-default navbar-fixed-top">
         <DIV class="container-fluid">
            <DIV class="navbar-header">
               <A class="navbar-brand" HREF="index.html">jnnapoli</A>
               <BUTTON type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <SPAN class="icon-bar"></SPAN>
               <SPAN class="icon-bar"></SPAN>
               <SPAN class="icon-bar"></SPAN>
               </BUTTON>
            </DIV>
            <!-- These are the navigation links wrapped in a collapse DIV-->
            <DIV class="collapse navbar-collapse" id="myNavbar">
               <UL class="nav navbar-nav">
<!--                   <LI class="active">
                     <A HREF="#">Home</A>
                  </LI>
                  
                  <LI>
                     <A HREF="#">About</A>
                  </LI> -->
               </UL>
               <!--The right hand navigation part-->
               <UL class="nav navbar-nav navbar-right">
                  <LI>
                     <A HREF="https://www.facebook.com">github</A>
                  </LI>
                  <LI>
                     <A HREF="https://www.twitter.com">resume</A>
                  </LI>
               </UL>
            </DIV>
         </DIV>
      </NAV>
      
      <!-- Main Content -->
      <DIV class="container">
         <DIV class="container-fluid">
            <DIV class="row">
               <!--Main content area-->
                <DIV class="col-sm-2">
                  </DIV>
               <DIV class="col-sm-8">
                  <SECTION>
                     <DIV class="jumbotron jumbotron-fluid">
                        <DIV class="container">
                           <!--     <h1 class="display-1 text-center">Under Construction</h1>
                              <p class="lead text-center">This website is currently under construction.</p> -->
                              <!--<h1 class="display-1 text-center">Resources</h2></br>-->
                           <p class="text-center space-out">
                            <a href="#"> <i class="fas fa-file-alt fa-5x"></i></a>
                             <a target="_blank" href="https:www.github.com\jnnapoli"><i class="fab fa-github fa-5x"></i></a> 
                              <a href="mailto:joey@jnnapoli.com"><i class="fas fa-envelope fa-5x"></i></a>
                           </p>
<!--                            <p class="lead text-center">contact: joey@jnnapoli.com</p> -->
                        </DIV>
                     </DIV>
                  </SECTION>
               </DIV>
                     <DIV class="col-sm-2">
                  </DIV>
            </DIV>
         </DIV>
      </div>
      <!-- ACTUAL MAIN BOXES -->
      <MAIN>
    <SECTION class="min" id="block1">
      <DIV class="innersection min">

      </DIV>
    </SECTION>
    <SECTION class="min" id="block2">
      <DIV class="innersection min">

      </DIV>
    </SECTION>
    <SECTION class="min" id="block3">
      <DIV class="innersection min">
      </DIV>
    </SECTION>
    <SECTION class="min" id="block4">
      <DIV class="innersection min">

      </DIV>
    </SECTION>
    <SECTION class="min" id="block5">
      <DIV class="innersection min">

      </DIV>
    </SECTION>
  </MAIN>
  </DIV>
      <!-- ACTUAL MAIN BOXES END -->
           <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   </BODY>